/* font-family: 'Barriecito', cursive;
font-family: 'Bonbon', cursive;
font-family: 'Flavors', cursive;
font-family: 'Grechen Fuemen', cursive;
font-family: 'Lacquer', cursive;
font-family: 'Neonderthaw', cursive;                                                                  
font-family: 'Happy Groovy', sans-serif;
font-family: 'g Getuk', sans-serif;
font-family: 'Suithame', sans-serif;
                                                
font-family: 'KIDS JOURNEY', sans-serif; <-귀여움


*/




*{
    list-style: none;
    text-decoration: none;
    padding: 0;
}

html{
    position: relative;
    background-color:rgb(253, 203, 203);
}
html::before{
    position: absolute;
    content: '';
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-image: url("/img/letter/KakaoTalk_20230517_193015094_03.png");
    background-size: 100px;
}



header::before{
    content: '';
    background-size: 140%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    background-position: -150px,-100px;
    background-image: url(/img/cake/headercake.jpg);
}


body{
    margin: 0 auto;
    width: 700px;
    height: max-content;
    position: relative;
}

.wrapper{
    position: relative;
    width: 100%;
    background-color: white;
}

header{
    position: relative;
    height: 300px;
    padding-bottom: 10px;
}


.top--header{
    height: 160px;
    text-align: center;
    position: relative
}

main::before{
    content: '';
    position: absolute;
    background-size: 100%;
    left: 0; right: 0; top: 0; bottom: 0;
    background-image: url(/img/cake/carrotcake.jpg);
    opacity: 40%;
}
main{
    position: relative;
    background-size: contain;
    background-position: 0px,-50px;
    min-height: 52.5vh;
    height: 700px;
    display: flex;
}

main>div>img{
}

.mainimg1>img{
    width: 500px;
    transform: rotate(-10deg);
    position: absolute;
    top: -50px;
    left: 100px;
}

.mainimg2>img{
    position: absolute;
    width: 500px;
    left: 100px;
    top: 300px;
}
.mainimg3>img{
    position: absolute;
    width: 700px;
    left: 0px;
    top: 40px;
}

#ur{
    width: 400px;
    top: 90px;
    left: -50px;
}

.bear>img{
    position: absolute;
    right: -200px;
    bottom: -100px;
    width:600px;
    opacity: 80%;
}
.day100>img{
    position: absolute;
    top: 100px;
    left: -10px;
}
#v>img{
    position: absolute;
    width: 350px;
    top: 100px;
    right: 30px;
}

footer{
    height: 300px;
    background-size: cover;
    background-image: url(/img/cake/headercake.jpg);
    position: relative;
}

.icing{
    position: relative;
    z-index: 1;
    top: -100px;
    left: -40px;
}
.icing>img{
    width:800px;
    position: absolute;
}

.ballon1{
    position: fixed;
    top: 20vh;
    right: 0;
    z-index: 3;
}
.ballon1>a>img{
    left:100%;
    width:300px;
}
